<!-- Primary Meta Tags -->
<title>WaterTube</title>
<meta name="title" content="WaterTube">
<meta name="description" content="A light and easy to use YouTube client powered by express, water.css, plyr, and ytdl-core.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://watertube.herokuapp.com/">
<meta property="og:title" content="WaterTube">
<meta property="og:description" content="A light and easy to use YouTube client powered by express, water.css, plyr, and ytdl-core.">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://watertube.herokuapp.com/">
<meta property="twitter:title" content="WaterTube">
<meta property="twitter:description" content="A light and easy to use YouTube client powered by express, water.css, plyr, and ytdl-core.">
<meta property="twitter:image" content="">
<meta name="theme-color" content="#202b38">
<script src="/main.js"></script>
<link rel="manifest" href="/manifest.json">
