<!-- Primary Meta Tags -->
<title>WaterTube</title>
<meta name="title" content="WaterTube">
<meta name="description" content="A light and easy to use YouTube client powered by express, water.css, plyr, and ytdl-core.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://watertube.herokuapp.com/">
<meta property="og:title" content="WaterTube">
<meta property="og:description" content="A light and easy to use YouTube client powered by express, water.css, plyr, and ytdl-core.">
<meta property="og:image" content="/WaterTube.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://watertube.herokuapp.com/">
<meta property="twitter:title" content="WaterTube">
<meta property="twitter:description" content="A light and easy to use YouTube client powered by express, water.css, plyr, and ytdl-core.">
<meta property="twitter:image" content="/WaterTube.png">
<meta name="theme-color" content="#202b38">
<script src="/main.js"></script>
<link rel="manifest" href="/manifest.json">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
