<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  </head>
  <body>
    <form action="/search">
      <input type="text" placeholder="Search" name="q" style="width:100%;" required>
    </form>
    <h1>
      404 not found
    </h1>
    <p>
      The thing you were looking for could not be found.
    </p>
  </body>
</html>