<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <%- include('partials/metatags.ejs') %>
  </head>
   <h3>
      <a href="/">WaterTube</a>
    </h3>
  <%- include('partials/searchbar.ejs') %>
  <body>
    <h1>
      Whoops!
    </h1>
    <p>
      Something went wrong on our end. Please try again later.
    </p>
  </body>
</html>