<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  </head>
  <body>
    <h1>
      WaterTube
    </h1>
    <%- include('partials/searchbar.ejs') %>
    <main>
    <h2>
      News:
      </h2>
      <p>
        <b>2020-12-18</b>: First release.<br>
        
      </p>
    </main>
  </body>
</html>