<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <%- include('partials/metatags.ejs') %>
  </head>
  <body>
    <h1>
      WaterTube
    </h1>
    <%- include('partials/searchbar.ejs') %>
    <main>
    
    </main>
  </body>
</html>