<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <%- include('partials/metatags.ejs') %>
  </head>
  <body>
    <h1>
      WaterTube
    </h1>
    <%- include('partials/searchbar.ejs') %>
    <main><br><br>
    <h3>What is watertube?</h3>
    <p>I created watertube as a YouTube frontend altentive. 
    Basically it's the YouTube client without the tracking (as the server does the fetching for you) and without the ads.<br><br>
    <a href="https://github.com/aboutDavid/watertube">See the project page here!</a>
    </p>
    </main>
  </body>
</html>
